
* {
  margin: 0%;
  padding: 0;
  box-sizing: border-box;
    font-family: 'Inter', sans-serif;
}
body {
  background-color: #000000;
}
header {
  padding: 10px 0 0 0;
  display: flex;
  align-content: center;
  justify-content: center;
  background: rgb(96,100,101);
  opacity: 80%;
  height: 60px;
  position: sticky;
  top: 0;
  z-index: 5;
}
h1{
  color: #e2e2e2;
}
section {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 5px 5 5 5;
}
input {
  border-radius: 10px;
  background-color: #e2e2e2;
}
button {
  border-radius: 10px;
  background-color: #a6a5a5;
}
#primero {
  height: 40px;
  width: 100%;
  padding-top: 10px;
  margin-top: 10px;
}
#segundo {
  padding: 10px 0 0 0;
  text-align: center;
  background-color: #000000;
  height: 440px;
  width: 316px;
  border-radius: 20px;
  overflow: hidden;
  line-height: 40px;
}
h2{
    color:#e2e2e2;
}
#info{
    color: #a6a5a5;
}
.imagenes{
    position: relative;
    height: 400px;
    width: 100%;
    transition: all .3s ease;
}
.imagenes img:first-child{
    box-shadow: 0 60px 60px 60px rgba(0, 0, 0, 0.5);
    border-radius: 4px;
    object-fit: cover;
    width: 200%;
}
.imagenes img:last-child{
    position: absolute;
    width: 200px;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
    transform: .3s ease;
    opacity: 0;
}
.imagenes:hover{
    transform: perspective(250px)
    rotateX(10deg)
    translateY(-5%)
    translateZ(0);
}
.imagenes::before{
    content: '';
    position: absolute;
    bottom: 0;
    height: 100%;
    width: 100%;
    background-image: linear-gradient(to 
    bottom, transparent 10%,
    rgba(0,0,0,0.5) 50%,
    rgba(0,0,0) 95%
    );
    opacity: 0;
    transition: all .3s ease;
}
.imagenes:hover::before{
    opacity: 1;
}
.imagenes:hover img:last-child{
    opacity: 1;
    transform: translateY(10%);
}
#cofee{
    width: 90%;
}
#cofee2{
    width: 100%;
}
/*--------------------------------------------*/

#pag2{
    width: 100%;
    height: 600px;
    background-color: rgb(74, 76, 76);
    padding: 5px 5 5 5;
}
#cajapag2{
    height: 100px;
    background-color: rgb(74, 76, 76);
}
#h2pag2{
    color: #a6a5a5;
    display: flex;
    justify-content: center;
}
#h4pag2{
    display: flex;
    justify-content: center;
}
#imgpag2{
    display: flex;
    justify-content: start;
    position: relative;
}